AUTH_SECRET=aura6767
AUTH_USERS_JSON=[{"email":"professor@escola.com","name":"Professor","password":"senha-forte","role":"teacher"},{"email":"aluno-a@escola.com","name":"Aluno A","password":"senha-forte","role":"student","classId":"1a"},{"email":"aluno-b@escola.com","name":"Aluno B","password":"senha-forte","role":"student","classId":"1b"}]
NEXTAUTH_URL=http://localhost:3000
